@import '../../assets/styles/variables';

// Высота картинки = высоте самого блока
$heightImg: 600px;
// // Размер стрелки
// $widthArrow: 24px;

// .arrow {
//    color: #000;
//    z-index: 20;
//    font-size: $widthArrow;

//    cursor: pointer;
//    position: absolute;
//    top: calc(50% - 1/2*$widthArrow);

//    &:active,
//    &:hover {
//       color: hsla(0, 0%, 100%, .72);
//    }

//    &.left {
//       left: 2%;
//    }

//    &.right {
//       right: 2%;
//    }

//    &.none {
//       display: none;
//    }
// }

.section {
   overflow: hidden;
   position: relative;
   max-width: 98vw;
   margin: 0 auto;
   height: $heightImg;
}

.sectionCenter {
   display: flex;
   align-items: center;
}

.sectionItems {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.img {
   position: relative;
   margin: 0 10px;
   min-width: 90vw;
   max-width: 90vw;
   height: $heightImg;
   border-radius: 30px;
   cursor: pointer;
   @include fade-bg-gradient();
}

.article {
   position: absolute;
   top: 0;
   transition: all 0.3s linear;

   button {
      background-color: rgb(237, 68, 68);
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 20px;

      a {
         color: #f1f5f8;
      }
   }
}

.wrapperContent {
   position: absolute;
   left: 50px;
   bottom: 10%;
   width: 30vw;

   a {
      font-size: 40px;
   }

   p {
      font-size: 30px;
      margin: 30px 0;
   }
}

.activeSlider {
   transform: translatex(0);
}

.lastSlider {
   transform: translatex(-100%);
}

.nextSlider {
   transform: translatex(100%);
}