.iconsLeft {
   width: 20px;
   height: 20px;
   border-top: 3px solid #6E18C0;
   border-left: 3px solid #6E18C0;
   transform: rotate(-45deg);
}

.iconsRigh {
   width: 20px;
   height: 20px;
   border-top: 3px solid #6E18C0;
   border-right: 3px solid #6E18C0;
   transform: rotate(45deg);
}

.section {
   position: relative;
   width: 96vw;
   margin: 0 auto;
   height: 300px;
   // overflow: hidden;
}

.sectionCenter {
   margin: 0 20px;
   width: 90vw;
   display: flex;
   overflow: hidden;
}

.iconsLeft:active,
.iconsRigh:active {
   border-color: #000;
}

.iconsLeft {
   position: absolute;
   left: 1%;
   top: 50%
}

.iconsRigh {
   position: absolute;
   right: 1%;
   top: 50%
}

.img {
   // position: relative;
   // margin: 0 20px;
   width: 200px;
   height: 300px;
   border-radius: 10px;
}

.article {
   // position: absolute;
   // top: 0;
   margin: 22px;
   transition: all 0.3s linear;

   // display: flex;
   // flex-direction: column;
}

.wrapperContent {
   overflow: hidden;
   width: 200px;
   // height: 300px;
   // left: 50px;
   // bottom: 10%;
   // overflow: hidden;

   a {
      white-space: nowrap;
      padding: 20px 0;
      font-size: 40px;
   }
}

// .activeSlider {
//    transform: translatex(0);
// }

// .lastSlider {
//    transform: translatex(-100%);
// }

// .nextSlider {
//    transform: translatex(100%);
// }